/* GOOGLE FONT IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: teal;
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* ----- HEADER SECTION ----- */
.header-section {
  width: 100%;
  background: #080808;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 3px solid white;
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #00b65e;
  position: absolute;
  left: 0;
  bottom: -5px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.nav-sign-in {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 25px;
  background: black ;
  color: white;
  border: 3px solid white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20px;
}

.nav-sign-in:hover {
  background: #00b65e;
  color: white;
  transform: translateX(8px);
}

/* --------------- COMFIRM SECTION --------------- */
#confirm-section {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-container {
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.confirm-form-container {
  border: 3px solid lightgrey;
  border-radius: 5px;
  width: 50%;
  max-width: 1200px;
  margin: auto;
  padding: 60px;
  text-align: center;
}

.confirm-form-container h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.confirm-form-container p {
  margin: auto;
  width: 80%;
  margin-bottom: 40px;
}

.confirm-form-container button {
  font-size: 20px;
  font-weight: 600;
  padding: 8px 35px;
  background: white;
  border: 3px solid black;
  color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-form-container button:hover {
  background: transparent;
  color: white;
  transform: translateY(-8px);
  background: #00b65e;
}

/* --------------- FOOTER SECTION --------------- */
.footer-section {
  width: 100%;
  background: #080808;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-navbar {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 3px solid white;
}

.footer-navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  position: relative;
}

.footer-navbar ul li a {
  text-decoration: none;
  color: white;
}

.footer-navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #00b65e;
  position: absolute;
  left: 0;
  bottom: -5px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-navbar ul li:hover::after {
  width: 100%;
}

.trademark {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px 0 30px;
}

.trademark h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 12px;
}

.trademark h4 a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.trademark h4 a:hover {
  color: #00b65e;
}

.trademark p {
  font-size: 16px;
  color: white;
}