/* GOOGLE FONT IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: teal;
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* ----- HEADER SECTION ----- */
.header-section {
  width: 100%;
  background: #080808;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 3px solid white;
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #00b65e;
  position: absolute;
  left: 0;
  bottom: -5px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.nav-sign-in {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 25px;
  background: black ;
  color: white;
  border: 3px solid white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20px;
}

.nav-sign-in:hover {
  background: #00b65e;
  color: white;
  transform: translateX(8px);
}

/* --------------- HERO SECTION --------------- */
#hero-section {
  width: 80%;
  margin: auto auto 60px;
  padding: 180px 40px 80px;
}

.hero-title {
  font-size: 64px;
  color: black;
  padding-top: 75px;
  margin-bottom: 40px;
  text-align: center
}

.hero-title h1 span {
  font-weight: 300;
}

.hero-desc {
  font-size: 15px;
  max-width: 600px;
  margin: 0 auto 60px;
  text-align: center;
}

.hero-button {
  max-width: 550px;
  margin: auto;
  text-align: center;
}

.getStarted-btn {
  font-size: 20px;
  font-weight: 600;
  padding: 8px 35px;
  background: white;
  border: 3px solid black;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.getStarted-btn:hover {
  background: #00b65e;
  color: white;
  transform: translateY(-8px);
}

/* ----- TABLET MEDIA QUREY ----- */
@media (max-width: 900px) {
  .hero-title {
    font-size: 48px;
  }
}

/* ----- MOBILE MEDIA QUREY ----- */
@media (max-width: 600px) {
  .hero-title {
    font-size: 30px;
    text-align: center;
  }

  .hero-button {
    display: flex;
  }

  .getStarted-btn {
    margin: auto;
  }

  .getStarted-btn:hover {
    background: #00b65e;
    color: white;
    transform: translateY(-8px);
  }
}

/* --------------- MEMBER DESC SECTION --------------- */
#member-desc {
  background: #00b65e;
  padding: 60px 0;
}

.member-desc {
  width: 65%;
  margin: auto;
}

.member-desc h2 {
  font-size: 36px;
  color: white;
  margin-bottom: 12px;
}

.member-desc p {
  font-size: 20px;
  font-weight: 300;
  width: 70%;
  color: white;
  margin-bottom: 30px;
}


.member-desc button {
  font-size: 20px;
  font-weight: 600;
  padding: 8px 35px;
  background: white;
  border: 3px solid black;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.member-desc button:hover {
  background: transparent;
  border: 3px solid white;
  color: white;
  transform: translateX(20px);
}

/* ----- TABLET MEDIA QUREY ----- */
@media (max-width: 1100px) {
  .member-desc p {
    font-size: 15px;
  }
}

/* ----- MOBILE MEDIA QUREY ----- */
@media (max-width: 600px) {
  .member-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .member-desc h2 {
    text-align: center;
  }

  .member-desc p {
    font-size: 15px;
    text-align: center;
    margin: 0 auto 30px;
  }
  
  .member-desc button {
    margin: auto;
  }

  .member-desc button:hover {
    transform: translateY(-8px);
  }
}

/* --------------- BECOME MEMBER SECTION --------------- */
#become-member-section {
  padding: 100px 0 140px;
}

.bM-container {
  width: 80%;
  margin: auto;
  padding: 0 50px;
}

.bM-section-title {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 0 0 40px;
}

.bM-section-title h2 {
  font-size: 64px;
  margin-bottom: 12px;
}

.bM-section-title p {
  font-size: 15px;
  max-width: 600px;
  margin: auto auto 20px;
}

.bM-form-container {
  border: 3px solid lightgrey;
  border-radius: 5px;
  width: 50%;
  max-width: 1200px;
  margin: auto;
  padding: 60px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-input {
  display: inline-block;
}

.input-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.input-title span {
  color: #00b65e;
}

.form-input input {
  padding: 8px 10px;
  width: 60%;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 40px;
}

.form-checkboxes {
  margin-bottom: 30px;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-box span {
  font-weight: 600;
}

.box-size {
  display: inline;
  width: 20px;
  height: 20px;
  accent-color: #00b65e;
  margin-right: 12px;
}

.form-btn button {
  font-size: 20px;
  font-weight: 600;
  padding: 8px 35px;
  background: white;
  border: 3px solid black;
  color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.form-btn button:hover {
  background: transparent;
  color: white;
  transform: translateX(20px);
  background: #00b65e;
}

/* --------------- MEMBER BENEFITS SECTION --------------- */
#member-benefits-section {
  padding: 100px 0 140px;
  background: #eee;
}

.member-benefits-container {
  width: 80%;
  margin: auto;
  padding: 0 50px;
}

.member-benefits-title {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 0 0 40px;
}

.member-benefits-title h2 {
  font-size: 64px;
  margin-bottom: 12px;
}

.member-benefits-title p {
  font-size: 15px;
  max-width: 600px;
  margin: auto auto 20px;
}

.benefits-grid {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.benefit-col {
  margin: auto;
  width: 80%;
  max-width: 325px;
  padding: 36px 18px 52px;
  border: 3px solid grey;
  border-radius: 5px;
  transition: 0.3s;
}

.benefit-col:hover {
  transform: translateY(-8px);
  background: white;
  border: 3px solid grey;
  box-shadow: 0 0 15px -5px black;
}

.benefit-col h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

/* --------------- CONTACT SECTION --------------- */
#contact-section {
  padding: 100px 0 140px;
}

.contact-container {
  width: 50%;
  margin: auto;
  padding: 25px 50px;
  border: 3px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 15px -5px black;
}

.contact-section-title {
  width: 100%;
  margin: auto;
  padding: 0 0 20px;
}

.contact-section-title h2 {
  font-size: 64px;
  margin-bottom: 12px;
}

.contact-section-title p {
  font-size: 15px;
  max-width: 600px;
  margin-bottom: 20px;
}

.info h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.info p {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.info span {
  font-size: 30px;
  margin-right: 8px;
}

/* ----- MOBILE MEDIA QUREY ----- */
@media (max-width: 600px) {
  #contact-section {
    padding: 100px 0 140px;
  }

  .contact-section-title h2 {
    font-size: 42px;
    margin-bottom: 12px;
  }

  .contact-section-title p {
    text-align: center;
    width: 100%;
    margin: 0 auto 12px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .info p {
    display: flex;
    justify-content: center;
  }
}

/* --------------- FOOTER SECTION --------------- */
.footer-section {
  width: 100%;
  background: #080808;
}

.footer-navbar {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 3px solid white;
}

.footer-navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  position: relative;
}

.footer-navbar ul li a {
  text-decoration: none;
  color: white;
}

.footer-navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #00b65e;
  position: absolute;
  left: 0;
  bottom: -5px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-navbar ul li:hover::after {
  width: 100%;
}

.trademark {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px 0 30px;
}

.trademark h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 12px;
}

.trademark h4 a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.trademark h4 a:hover {
  color: #00b65e;
}

.trademark p {
  font-size: 16px;
  color: white;
}